.pantallaa {

    height: 19rem;
    background-color: gainsboro;
    padding: 1rem;

    font-size: 5rem;
    font-weight: 600;

    display: flex;
    align-items: end;
    justify-content: right;
}
